.toast-container {
  --radius: 5px;

  position: fixed;
  display: block;
  max-width: 420px;
  bottom: 10px;
  right: 20px;
  z-index: 2000;
  transition: all .4s ease;

  &[aria-destorying] {
    opacity: 0;
  }

  & .toast {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 420px;
    transition: all .4s ease;
    transform: translate3d(0, 86px, 0);
    opacity: 0;

    & .toast-inner {
      border-radius: var(--radius);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      color: #fff;
      height: var(--height);
      transition: all .25s ease;

      &.default {
        color: #000;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
      }

      &.success {
        background-color: #0076ff;
      }

      &.error {
        background-color: #f04;
      }

      &.warning {
        background-color: #f5a623;
      }
    }

    & .toast-text {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 14px;
      margin-top: -1px;
      margin-right: 10px;
      transition: all .3s ease;
    }

    & .toast-button {
      min-width: auto;
      height: 24px;
      line-height: 22px;
      padding: 0 10px;
      font-size: 14px;
      background-color: #000;
      color: #fff;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      vertical-align: middle;
      border-radius: var(--radius);
      outline: none;
      border: 1px solid #000;
      transition: all .2s ease;

      &.cancel-button {
        margin-right: 10px;
        color: #666;
        border-color: #eaeaea;
        background-color: #fff;
      }

      &:hover {
        background-color: #fff;
        color: #000;
        border-color: #000;
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 1px);
      width: 100%;
      height: 20px;
      background: transparent;
    }

    &[aria-hidden='true'] {
      opacity: 0 !important;
    }

    &.toast-1 {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    &:not(:last-child) {
      --i: calc(var(--index) - 1);
      transform: translate3d(0, calc(0px - (20px * var(--i))), 0) scale(calc(1 - .05 * var(--i)));
      opacity: 1;

      & .toast-inner {
        height: var(--front-height);

        & .toast-text {
          opacity: 0;
          overflow: hidden;
          align-items: flex-start;
        }
      }
    }

    &.toast-4 {
      opacity: 0;
    }
  }
}

.toast-container:hover .toast {
  transform: translate3d(0, calc(var(--hover-offset-y) - 20px * (var(--index) - 1)), 0);

  & .toast-inner {
    height: var(--height);
  }

  & .toast-text {
    opacity: 1 !important;
    white-space: initial !important;
    overflow: initial !important;
  }
}

@media (max-width: 440px) {
  .toast-container {
    max-width: 90vw;
    right: 5vw;

    & .toast {
      width: 90vw;
    }
  }
}
